<section class="slidercompleto"><!--Carrusel de productos-->
    <div id="imgslidermobile">
        <figure>
            <img src="/images/sliderdisney1MOBILE.jpg">
            <img src="/images/sliderstarwars2MOBILE.jpg">
            <img src="/images/slidermarvel3MOBILE.jpg">
            <img src="/images/sliderpokemon4MOBILE.jpg">
            <img src="/images/sliderdisney1MOBILE.jpg">
        </figure>
    </div>
    <div id="imgslider2">
        <figure>
            <img src="/images/disney-slider1-alto.jpg">
            <img src="/images/starwars-sldier2-alto.jpg">
            <img src="/images/marvel-slider3-alto.jpg">
            <img src="/images/pokemon-slider4-alto.jpg">
            <img src="/images/disney-slider1-alto.jpg">
        </figure>
    </div>
</section>