<div>
<footer class="footer"><!--Footer-->
    <div class="inner-footer"> 
            <a href="#" id="social-items"><i class="fab fa-facebook"></i></a>
            <a href="#" id="social-items"><i class="fab fa-instagram" id="insta"></i></a>
            <a href="#" id="social-items"><i class="fab fa-twitter-square"></i></a>
    </div> 
    <div class="outer-footer">
        <img src="/images/logo2.png" class="logofooter">
        Copyright &copy; Web FunkoShop. Todos los derechos reservados
    </div>
</footer>
</div>