<head>
    <script src="https://kit.fontawesome.com/dd4e815baa.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/dd8af2371b.js" crossorigin="anonymous"></script>
    <LINK REL=StyleSheet href='/css/stylesheet.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/LOGO2.png"/>
    <meta charset="utf-8" />
    <title>Funko Shop</title>
    <script>
        function openSlideMenu(){
            document.getElementById('menu').style.width='80vw'
            document.getElementById('content').style.marginLeft='0vw'
        }
    
        function closeSlideMenu(){
            document.getElementById('menu').style.width='0'
            document.getElementById('content').style.marginLeft='0'
        }
    </script>
</head>