<div id="content">
    <header><!--HEADER-->
      <div id="pruebaflex">
        <span class="slide"><!--slider-->
            <a href="#" onclick="openSlideMenu()">
         <i class="fas fa-bars"></i></a>
      </span>

      <a href="/"><img class="logo" src="/images/LOGO2.png" alt='LOGO'></a><!--LOGO HORIZONTAL480pxMax-->
      <a href="/"><img class="logovertical" src="/images/logo-funkoShop.png" alt='LOGO'></a><!--LOGO(ACTUALMENTE SIN USO)-->
     
      <span class="logosder"><!--Carrito y user logos-->
         <a href="/users/login"><i class="fas fa-user" id="usercarrito"></i></a></br>
         <a href="/products/cart"><i class="fas fa-shopping-cart" id="usercarrito"></i></a>
      </span>
   </div>
      <nav class="categoriaheader600px">
          <ul>
              <li>
                 <a href="#" id="batmantexto">Héroes</a> 
              </li>
              <li>
                 <a href="#" id="dwigthtexto">Series</a> 
              </li>
              <li>
                 <a href="#" id="harryptexto">Peliculas</a> 
              </li>
              <li>
                 <a href="#" id="mtexto">Originales</a> 
              </li>
          </ul>
      </nav>
      <div id="menu" class="nav"><!--BARRA DE NAVEGACION MOBILE-->
         <a href="#" class="close" onclick="closeSlideMenu()">
         <i class="fas fa-times"></i></a>
         <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/batmanfunko.jpg'>Héroes</a>
         <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/dwightFunko.jpg'>Series</a>
         <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/jackFunko.jpg'>Películas</a>
         <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/otrosFunko.jpg'>Originales</a>
         <a href="#"><img class='imagenBarraAbierta' alt="MiniFunko" src='/images/koolaidFunko.jpg'>Todos</a>
      </div><!--TERMINA BARRA DE NAVEGACION MOBILE-->
      <div class="imagenesheader"><!--Categorias mayor a 600px-->
         <a href="#"><img class='imagenCategoria' id="batman" alt="MiniFunko" src='/images/batmanfunko.jpg'></a>
         <a href="#"><img class='imagenCategoria' id="dwigth" alt="MiniFunko" src='/images/dwightFunko.jpg'></a>
         <a href="#"><img class='imagenCategoria' id="harryp" alt="MiniFunko" src='/images/harrycabeza.png'></a>
         <a href="#"><img class='imagenCategoria' id="mounstruo" alt="MiniFunko" src='/images/otrosFunko.jpg'></a>
      </div>
         </header>
     </div>